In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv("data/Slot Performance Data.csv")
df

,Employer_ID,City_ID,Contract_ID,StartDate,EndDate,Renewal_Flag,Job_Slots,Total_Contract_Value,Applications,Apply_Start_Clicks,Click_Market_Value,Job_Listings
0,4277920,9767,2423796,2017/10/30,2017/11/30,1,15,995,215,255,15484.40,25
1,2372987,8585,2074128,2017/6/29,2017/7/29,0,50,1495,55,70,1719.30,50
2,1142693,6665,1924740,2017/5/2,2017/6/2,0,15,495,45,95,1195.75,20
3,1353893,5165,1942512,2017/5/9,2017/6/6,0,15,995,155,175,1197.35,20
4,922427,3882,1380984,2016/9/19,2016/10/20,1,15,745,150,185,8889.70,20
...,...,...,...,...,...,...,...,...,...,...,...,...
37752,5234187,123,2601276,2017/12/24,2018/1/11,0,15,1245,5,45,1846.80,0
37753,6707680,128,2777388,2018/2/20,2018/3/5,0,15,1245,80,140,3108.40,45
37754,1799067,7344,1128324,2016/5/28,2016/6/1,0,15,1495,35,45,949.05,0
37755,2391600,3945,2729376,2018/2/4,2018/3/3,1,15,1245,5,5,5.00,0
37756,6142960,4629,2817120,2018/3/2,2018/4/1,0,15,995,40,140,2434.60,5

In [2]:
df.isna().sum()

Employer_ID             0
City_ID                 0
Contract_ID             0
StartDate               0
EndDate                 0
Renewal_Flag            0
Job_Slots               0
Total_Contract_Value    0
Applications            0
Apply_Start_Clicks      0
Click_Market_Value      0
Job_Listings            0
dtype: int64

In [10]:
df_metrics = df
df_metrics['apply_conv_rate'] = df['Applications'] / df['Apply_Start_Clicks']
df_metrics['start_click_per_job'] = df['Apply_Start_Clicks'] / df['Job_Slots']
df_metrics['application_per_slot'] = df['Applications'] / df['Job_Slots']
df_metrics

,Employer_ID,City_ID,Contract_ID,StartDate,EndDate,Renewal_Flag,Job_Slots,Total_Contract_Value,Applications,Apply_Start_Clicks,Click_Market_Value,Job_Listings,apply_conv_rate,start_click_per_job,application_per_slot
0,4277920,9767,2423796,2017/10/30,2017/11/30,1,15,995,215,255,15484.40,25,0.843137,17.000000,14.333333
1,2372987,8585,2074128,2017/6/29,2017/7/29,0,50,1495,55,70,1719.30,50,0.785714,1.400000,1.100000
2,1142693,6665,1924740,2017/5/2,2017/6/2,0,15,495,45,95,1195.75,20,0.473684,6.333333,3.000000
3,1353893,5165,1942512,2017/5/9,2017/6/6,0,15,995,155,175,1197.35,20,0.885714,11.666667,10.333333
4,922427,3882,1380984,2016/9/19,2016/10/20,1,15,745,150,185,8889.70,20,0.810811,12.333333,10.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37752,5234187,123,2601276,2017/12/24,2018/1/11,0,15,1245,5,45,1846.80,0,0.111111,3.000000,0.333333
37753,6707680,128,2777388,2018/2/20,2018/3/5,0,15,1245,80,140,3108.40,45,0.571429,9.333333,5.333333
37754,1799067,7344,1128324,2016/5/28,2016/6/1,0,15,1495,35,45,949.05,0,0.777778,3.000000,2.333333
37755,2391600,3945,2729376,2018/2/4,2018/3/3,1,15,1245,5,5,5.00,0,1.000000,0.333333,0.333333
37756,6142960,4629,2817120,2018/3/2,2018/4/1,0,15,995,40,140,2434.60,5,0.285714,9.333333,2.666667